<h1> Welcome to the Battle Game! </h1>

<form action="/2_player_form" >
  <button type="submit" value='2_player'> 2 Player </button>
</form>

<form action="/1_player_form" >
  <button type="submit" value='1_player'> 1 Player </button>
</form>
