<link rel="stylesheet" type="text/css" href="/style.css">
<div id="animate-area"></div>

<div>
<form action="/names" method="post">
  Player 1 name <input type="text" name="name1"><br>
  Player 2 name <input type="text" name="name2"><br>
  <input type="submit" value="Submit">
</form>
</div>
