h1 {
    color: red;
    text-align: center;
    font-size: 20px;
}

div {
  color: blue;
text-align: center;
font-size: 30px;
font-family: sans-serif;;
}


input[type='text'] {
  width: 300px;
  padding: 5px;
  font-size: 15px;
  color: Red;
}

input[type="submit"]
{
    border:1px solid black;
    text-decoration:none;
    font-family:helvetica;
    color:white;
    background-color: teal;
    height:50px;
    width: 120px;
    font-size: 14px;

}

/*@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}

#animate-area {
	width: 100%;
	height: 190px;
	background-image: url(http://davidwalsh.name/demo/bg-clouds.png);
	background-position: 0px 0px;

	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	-ms-animation: animatedBackground 10s linear infinite;
	-o-animation: animatedBackground 10s linear infinite;
}*/
